.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  size: 20px;
}
:root {
  --bs-link-color: #6d1818;
}

.container-fluid img {
  margin-left: 15px;
}
/*nav*/
.nav-item dropdown {
  color: #6d1818;
}
.nav-link {
  font-size: 130%;
  font-weight: bold;
  margin-left: 60px;
  color: #6d1818;
}
.nav-underline {
  margin-left: 310px;
}
.nav {
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
}
.navbar {
  background-color: #ffffff;
}
.nav-link:hover {
  color: #a28282;
}

.icon-item {
  display: inline-block;
  color: #6d1818;
  margin-top: 15px;
  margin-right: 10px;
}
.nav-right-icon {
  margin-right: 50px;
  padding-left: 680px;
}

.icon-item:hover {
  color: #a28282;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: rgba(
    var(--bs-tertiary-bg-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.dropdown-menu {
  --bs-dropdown-font-size: 20px;
  --bs-dropdown-font-weight: bold;
  --bs-dropdown-color: rgb(109, 24, 24);
  --bs-dropdown-link-active-bg: #ffffff;
  color: #6d1818;
  --bs-dropdown-link-color: rgba(109, 24, 24, 100%);
  --bs-dropdown-link-hover-color: rgba(109, 24, 24, 50%);
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-border-color: transparent;
  text-align: center;
  width: 140%;
}
.material-symbols-outlined {
  font-size: 30px;
  line-height: 1;
}

.link-top {
  width: 100vw;
  height: 2px;
  border-top: #6d1818 2px;
}
/*nav*/

/*首頁輪撥*/
.carousel-control-next-icon {
  background-image: url(../img/next.png);
  height: 3rem;
}

.carousel-control-prev-icon {
  background-image: url(../img/prev.png);
  height: 3rem;
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0;
  transition: none;
}

.carousel-control-next-icon {
  color: #6d1818;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid #6d1818;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}
.carousel-indicators {
  margin-right: 15%;
  margin-bottom: 52rem;
  margin-left: 15%;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: 836px;
  width: 2%;
}

@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0 20px;
}
/*首頁輪撥*/
.new p {
  font-weight: bold;
  font-size: 38px;
  color: #6d1818;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

/*footer*/

.footer {
  width: 100vw;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.footer p {
  color: #6d1818;
  font-size: 16px;
  margin-top: -45px;
  text-align: center;
}

/*footer*/

/*owl carousel*/
#demos .owl-carousel .item {
  height: 530px;
  background: #ffffff;
  padding: 10px;
}

.item {
  background-color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.row {
  margin: 0 auto;
  /* max-width: 100vw; */
  width: 100vw;
}

/*新品上市的圖片開始*/
.product_block {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 230px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.liver {
  background-image: url(../img/liver.png);
}
.liver:hover {
  background-image: url(../img/liver.gif);
}

.heart {
  background-image: url(../img/heart.png);
}
.heart:hover {
  background-image: url(../img/heart.gif);
}

.brand {
  background-image: url(../img/brand.png);
}
.brand:hover {
  background-image: url(../img/brand.gif);
}

.kidney {
  background-image: url(../img/kidney.png);
}
.kidney:hover {
  background-image: url(../img/kidney.gif);
}

.stomach {
  background-image: url(../img/stomach.png);
}
.stomach:hover {
  background-image: url(../img/stomach.gif);
}

.fat {
  background-image: url(../img/fat.png);
}
.fat:hover {
  background-image: url(../img/fat.gif);
}
/*新品上市的圖片結束*/

.item h2 {
  font-weight: bold;
  color: #6d1818;
  margin-top: 60px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 36px;
}
.item p {
  font-weight: 800;
  font-size: 19px;
  text-align: left;
  margin-top: 20px;
  margin-left: 55px;
  margin-right: 55px;
}
.owl-stage-outer {
  height: 600px;
}
.nav-link:focus,
.nav-link:hover {
  color: #a28282;
}
.carousel-indicators [data-bs-target],
.owl-theme .owl-dots .owl-dot span {
  border-top: transparent;
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
  width: 24px;
  background-color: transparent;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
  background-image: url(../img/star.png);
  width: 24px;
}
.owl-theme .owl-dots .owl-dot span {
  background-image: url(../img/star-default.png);
}

.item img {
  width: 100%;
}
.carousel {
  margin-top: 70px;
}
/*owl carousel*/

/*預定流程*/
.process p {
  font-weight: bold;
  font-size: 38px;
  color: #6d1818;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.process2 img:hover {
  opacity: 60%;
}
.shopping_cart p {
  font-weight: bold;
  color: #6d1818;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 36px;
}
.login p {
  font-weight: bold;
  color: #6d1818;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 36px;
}
.pay p {
  font-weight: bold;
  color: #6d1818;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 36px;
}
.check p {
  font-weight: bold;
  color: #6d1818;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 36px;
}
.transport p {
  font-weight: bold;
  color: #6d1818;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 36px;
}
.process2 li {
  display: inline-block;
  text-align: center;
  padding: 60px;
}
.process2 {
  text-align: center;
}

/*預定流程*/
/*立即訂購按鈕*/
.btn-outline-primary {
  --bs-btn-color: #6d1818;
  --bs-btn-border-color: #6d1818;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6d1818;
  --bs-btn-hover-border-color: #6d1818;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6d1818;
  --bs-btn-active-border-color: #6d1818;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6d1818;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6d1818;
  --bs-gradient: none;
}
.btn:focus-visible {
  box-shadow: 0;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #6d1818;
}
.btn {
  --bs-btn-padding-x: 2.75rem;
  --bs-btn-padding-y: 1.375rem;
  --bs-btn-font-size: 1.5rem;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 1.5;
  margin-left: 1045px;
  margin-top: 80px;
  margin-bottom: 100px;
}

/*立即訂購按鈕*/
